n8n-workflow-03lgcA4e9uRTtli1.json
{
  "updatedAt": "2025-11-05T03:56:44.000Z",
  "createdAt": "2025-10-20T18:16:03.743Z",
  "id": "03lgcA4e9uRTtli1",
  "name": "Emma Newsletter - Automated Multi-API Financial News Distribution",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 12 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "30 16 * * *"
            }
          ]
        }
      },
      "id": "5397f51e-b6e3-4630-9d60-d975554db13b",
      "name": "Schedule Trigger (7h/12h/16h30 EST)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        17760,
        4464
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "emma-newsletter/send",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "30e9d42f-c22e-4ecc-b32f-040e1b36c80d",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        17760,
        4656
      ],
      "webhookId": "dad887b9-1a62-482a-9174-3b79f52a2bb5"
    },
    {
      "parameters": {},
      "id": "2199702c-ea93-484a-9b71-3ba416030308",
      "name": "Manual Trigger (Custom Prompt)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        17760,
        4272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "custom_prompt",
              "value": "=== PROMPT PERSONNALISÉ ===\n\nTu es Emma, l'assistante financière intelligente. Génère un briefing personnalisé selon les instructions ci-dessous.\n\n**Instructions personnalisées :**\n[Modifiez ce prompt selon vos besoins - ce texte sera remplacé par votre prompt personnalisé]\n\n**Structure suggérée :**\n1. **Ouverture** : Salutation et contexte\n2. **Analyse principale** : Points clés à couvrir\n3. **Focus spécifique** : Éléments particuliers à analyser\n4. **Recommandations** : Insights et conseils\n5. **Fermeture** : Synthèse et prochaines étapes\n\nUtilise les outils disponibles pour récupérer des données réelles et à jour. Sois précis, professionnel mais accessible.",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "prompt_type",
              "value": "custom",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "preview_mode",
              "value": "true",
              "type": "boolean"
            },
            {
              "id": "id-4",
              "name": "approved",
              "value": "false",
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {},
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n  \n  // Valeurs par défaut pour preview (peuvent être surchargées par les config nodes)\n  const previewMode = data.preview_mode !== undefined ? data.preview_mode : true; // Par défaut preview\n  const approved = data.approved !== undefined ? data.approved : false; // Par défaut non approuvé\n  \n  return {\n    json: {\n      ...data,\n      preview_mode: previewMode,\n      approved: approved,\n      // Préserver le prompt personnalisé\n      custom_prompt: data.custom_prompt || data.prompt || ''\n    }\n  };\n});"
      },
      "id": "c3ecb545-83ea-4db2-ba56-a7104a702733",
      "name": "Custom Prompt Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        17984,
        4272
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "39da4631-55a2-4bbd-b165-312f3714a493",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        18208,
        4464
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "team_tickers",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "id": "ad5015b5-8231-4cd9-acc0-6f0a0ae6265e",
      "name": "Get Active Tickers",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        18880,
        4392
      ],
      "credentials": {
        "supabaseApi": {
          "id": "WGwVmhxNX4mHZmVO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst inputItems = $input.all();\nconst data = inputItems[0].json;\n\n// Récupérer les prompts depuis l'API (passés depuis le nœud précédent)\n// La réponse de l'API est dans $json.prompts ou $json\nlet promptsConfig = {};\n\n// Chercher les prompts dans les données d'entrée\n// L'API retourne { success: true, prompts: { morning: {...}, midday: {...}, evening: {...} } }\nif (data.prompts) {\n  promptsConfig = data.prompts;\n} else if (data.success && data.prompts) {\n  promptsConfig = data.prompts;\n} else {\n  // Fallback si les prompts ne sont pas trouvés\n  console.warn('⚠️ Prompts non trouvés dans les données, utilisation du fallback');\n  promptsConfig = {\n    morning: {\n      prompt: \"Tu es Emma, l'assistante financière intelligente. Génère un briefing matinal concis et informatif pour les investisseurs. Structure ton email comme suit :\\n\\n1. **Ouverture** (2-3 phrases) : Salutation énergique et contexte du marché\\n2. **Marché en bref** : Indices principaux, tendances overnight\\n3. **Actualités clés** (3-4 points) : Nouvelles importantes qui impactent les marchés\\n4. **Focus tickers d'équipe** : Mise en avant de 2-3 actions de notre liste avec prix et variations\\n5. **Événements du jour** : Calendrier économique et résultats d'entreprises importants\\n6. **Conseil Emma** : Insight ou recommandation basée sur l'analyse\\n7. **Fermeture** : Ton optimiste et rappel de la disponibilité\\n\\nUtilise les outils disponibles pour récupérer des données réelles et à jour. Sois précis, professionnel mais accessible. Longueur : 200-300 mots.\",\n      name: \"Emma En Direct - Matin\"\n    },\n    midday: {\n      prompt: \"Tu es Emma, l'assistante financière intelligente. Génère un briefing de mi-journée qui fait le point sur la session du matin. Structure ton email comme suit :\\n\\n1. **Ouverture** (2 phrases) : Salutation et résumé de la matinée\\n2. **Performance matinale** : Indices, secteurs en hausse/baisse, volumes\\n3. **Mouvements notables** : Actions qui bougent significativement avec explications\\n4. **Actualités midi** : Développements récents et réactions du marché\\n5. **Focus technique** : Analyse rapide des tendances et niveaux clés\\n6. **Perspective après-midi** : Ce à quoi s'attendre pour la suite\\n7. **Fermeture** : Message encourageant et rappel du briefing du soir\\n\\nUtilise les données techniques et fondamentales disponibles. Sois analytique mais accessible. Longueur : 250-350 mots.\",\n      name: \"Emma En Direct - Midi\"\n    },\n    evening: {\n      prompt: \"Tu es Emma, l'assistante financière intelligente. Génère un briefing de clôture qui synthétise la journée de trading. Structure ton email comme suit :\\n\\n1. **Ouverture** (2 phrases) : Salutation et résumé de la journée\\n2. **Clôture des marchés** : Indices finaux, variations, volumes de trading\\n3. **Secteurs performants** : Top 3 secteurs en hausse/baisse avec explications\\n4. **Tickers d'équipe - Bilan** : Performance de nos actions avec analyse\\n5. **Événements marquants** : Nouvelles qui ont impacté les marchés\\n6. **Perspective demain** : Événements à surveiller et attentes\\n7. **Conseil Emma** : Recommandation ou insight pour la suite\\n8. **Fermeture** : Message de fin de journée et rendez-vous demain\\n\\nUtilise toutes les données disponibles pour une analyse complète. Sois synthétique mais complet. Longueur : 300-400 mots.\",\n      name: \"Emma En Direct - Soir\"\n    }\n  };\n}\n\n// Check if custom prompt exists\nif (data.custom_prompt) {\n  // Use custom prompt\n  for (const item of inputItems) {\n    item.json.selected_prompt = data.custom_prompt;\n    item.json.prompt_type = 'custom';\n    item.json.processing_status = \"OK\";\n  }\n} else {\n  // Determine time-based prompt (utilise les prompts depuis l'API)\n  const now = new Date();\n  const hour = now.getHours();\n  \n  let promptType;\n  let selectedPrompt;\n  \n  if (hour >= 5 && hour < 11) {\n    // Morning prompt (5am - 11am)\n    promptType = 'morning';\n    selectedPrompt = promptsConfig.morning?.prompt || '';\n  } else if (hour >= 11 && hour < 16) {\n    // Midday prompt (11am - 4pm)\n    promptType = 'noon';\n    selectedPrompt = promptsConfig.midday?.prompt || '';\n  } else {\n    // Evening prompt (4pm onwards and before 5am)\n    promptType = 'evening';\n    selectedPrompt = promptsConfig.evening?.prompt || '';\n  }\n  \n  if (!selectedPrompt) {\n    throw new Error(`Prompt non trouvé pour le type: ${promptType}`);\n  }\n  \n  for (const item of inputItems) {\n    item.json.selected_prompt = selectedPrompt;\n    item.json.prompt_type = promptType;\n    item.json.processing_status = \"OK\";\n  }\n}\n\nreturn inputItems;"
      },
      "id": "6d2c7cfa-f8b7-44de-ab36-4e3d9826a035",
      "name": "Determine Time-Based Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19104,
        4536
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst data = items[0].json;\n\n// Extract ticker symbols from input 1 (tickers data)\nconst tickers = items.filter(item => item.json.ticker).map(item => item.json.ticker);\nconst tickerList = tickers.join(', ');\n\n// Normaliser le type de briefing\nlet briefingType = data.prompt_type;\nif (briefingType === 'noon') {\n  briefingType = 'midday';\n}\n\n// Construire le message pour /api/chat (qui utilise emma-agent) ou Gemini\nconst fullPrompt = `${data.selected_prompt}\\n\\nFocus sur ces tickers: ${tickerList}`;\n\nreturn [{\n  json: {\n    ...data,\n    tickers: tickerList,\n    briefing_type: briefingType,\n    message: fullPrompt,\n    channel: 'web',\n    userId: 'n8n-automation',\n    // Préserver ai_model depuis AI Model Config\n    ai_model: data.ai_model || 'emma'\n  }\n}];"
      },
      "id": "c5d69e3d-82d3-4459-8c12-02af81d03cdd",
      "name": "Prepare API Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19328,
        4536
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n  \n  // ============================================\n  // PRÉSERVER preview_mode et approved depuis les nodes de configuration\n  // ============================================\n  // Chercher dans les nodes précédents (Schedule Config, Webhook Config, Manual Config, Chat Config)\n  let previewMode = data.preview_mode;\n  let approved = data.approved;\n  \n  // Si les valeurs ne sont pas dans data, chercher dans les nodes précédents\n  if (previewMode === undefined || approved === undefined) {\n    try {\n      // Essayer de récupérer depuis les nodes de configuration\n      const configNodes = ['Schedule Config', 'Webhook Config', 'Manual Config', 'Chat Config', 'Workflow Configuration'];\n      for (const nodeName of configNodes) {\n        try {\n          const nodeData = $(nodeName).item?.json;\n          if (nodeData) {\n            if (previewMode === undefined && nodeData.preview_mode !== undefined) {\n              previewMode = nodeData.preview_mode;\n            }\n            if (approved === undefined && nodeData.approved !== undefined) {\n              approved = nodeData.approved;\n            }\n            if (previewMode !== undefined && approved !== undefined) break;\n          }\n        } catch (e) {\n          // Node n'existe pas ou n'est pas accessible, continuer\n        }\n      }\n    } catch (e) {\n      console.log('⚠️  Impossible de récupérer depuis les nodes précédents:', e.message);\n    }\n  }\n  \n  // Fallback si toujours undefined\n  if (previewMode === undefined) previewMode = true; // Par défaut, preview\n  if (approved === undefined) approved = false; // Par défaut, non approuvé\n  \n  // Convertir en boolean si c'est une string\n  if (previewMode === 'true' || previewMode === true) previewMode = true;\n  else if (previewMode === 'false' || previewMode === false) previewMode = false;\n  \n  if (approved === 'true' || approved === true) approved = true;\n  else if (approved === 'false' || approved === false) approved = false;\n  \n  // Extraire les métadonnées de la réponse API\n  const newsletterContent = data.newsletter_content || data.response || data.message || data.analysis || '';\n  const triggerType = data.trigger_type || 'Manuel';\n  const emmaModel = data.emma_model || data.model || 'perplexity';\n  const emmaTools = Array.isArray(data.emma_tools) ? data.emma_tools : (data.tools_used || []);\n  const emmaExecutionTime = data.emma_execution_time || data.execution_time_ms || 0;\n  const promptType = data.prompt_type || 'custom';\n  const generatedAt = data.generated_at || new Date().toISOString();\n  \n  // Logging pour débogage\n  console.log('📊 Parse API Response - Valeurs finales:');\n  console.log('   preview_mode:', previewMode, '(type:', typeof previewMode, ')');\n  console.log('   approved:', approved, '(type:', typeof approved, ')');\n  console.log('   trigger_type:', triggerType);\n  console.log('   prompt_type:', promptType);\n  \n  return {\n    json: {\n      ...data,\n      // PRÉSERVER les valeurs preview_mode et approved\n      preview_mode: previewMode,\n      approved: approved,\n      // Métadonnées extraites\n      newsletter_content: newsletterContent,\n      trigger_type: triggerType,\n      emma_model: emmaModel,\n      emma_tools: emmaTools,\n      emma_execution_time: emmaExecutionTime,\n      prompt_type: promptType,\n      generated_at: generatedAt,\n      content_length: newsletterContent.length,\n      // Debug\n      _debug_preview_mode: previewMode,\n      _debug_approved: approved,\n      _debug_preview_mode_type: typeof previewMode,\n      _debug_approved_type: typeof approved\n    }\n  };\n});"
      },
      "id": "40676021-3728-41a7-a961-9ec5a4f31b19",
      "name": "Parse API Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20000,
        4536
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst data = items[0].json;\n// ============================================\n// VÉRIFICATION SÉCURITÉ - BLOQUE LES ENVOIS NON AUTORISÉS\n// ============================================\nif (data.preview_mode === true) {\n  throw new Error('❌ BLOQUÉ : Mode preview activé. Pour envoyer, définissez approved=true et preview_mode=false');\n}\n\nif (data.approved !== true) {\n  throw new Error('❌ BLOQUÉ : Email non approuvé. Pour envoyer, définissez approved=true');\n}\n\nconsole.log('✅ Vérification passée : approved=' + data.approved + ', preview_mode=' + data.preview_mode);\n\n\n\n// ============================================\n// COULEURS CENTRALISÉES DU THÈME GOB\n// Source: config/theme-colors.json\n// ============================================\nconst theme = {\n  colors: {\n    primary: '#6366f1',\n    primaryDark: '#4f46e5',\n    primaryLight: '#8b5cf6',\n    success: '#10b981',\n    text: {\n      dark: '#1f2937',\n      medium: '#4b5563',\n      light: '#6b7280',\n      muted: '#9ca3af'\n    },\n    background: {\n      white: '#ffffff',\n      light: '#f8fafc',\n      medium: '#f1f5f9',\n      dark: '#e2e8f0'\n    },\n    border: {\n      light: '#e5e7eb',\n      medium: '#d1d5db'\n    }\n  },\n  gradients: {\n    primary: 'linear-gradient(135deg, #6366f1 0%, #8b5cf6 100%)',\n    primaryAlt: 'linear-gradient(135deg, #4f46e5 0%, #6366f1 100%)',\n    secondary: 'linear-gradient(135deg, #8b5cf6 0%, #7c3aed 100%)'\n  },\n  email: {\n    fonts: {\n      primary: \"'Inter', 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif\"\n    },\n    spacing: {\n      containerMaxWidth: '700px',\n      padding: {\n        small: '20px',\n        medium: '30px',\n        large: '40px'\n      },\n      borderRadius: {\n        small: '8px',\n        medium: '12px',\n        large: '16px'\n      }\n    },\n    shadows: {\n      small: '0 2px 4px rgba(0, 0, 0, 0.05)',\n      medium: '0 4px 6px rgba(0, 0, 0, 0.1)',\n      large: '0 10px 25px rgba(99, 102, 241, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1)',\n      primary: '0 4px 12px rgba(99, 102, 241, 0.15)'\n    }\n  }\n};\n\n// Fonction pour convertir markdown en HTML\nfunction markdownToHtml(text) {\n  if (!text) return '';\n  \n  let html = text;\n  \n  // Convertir les tableaux markdown en HTML\n  const tableRegex = /\\|(.+)\\|\\n\\|([-|\\s]+)\\|\\n((?:\\|.+\\|\\n?)+)/g;\n  html = html.replace(tableRegex, (match, header, separator, rows) => {\n    const headers = header.split('|').map(h => h.trim()).filter(h => h);\n    const rowLines = rows.trim().split('\\n').filter(r => r.trim());\n    \n    let tableHtml = '<table style=\"width: 100%; border-collapse: collapse; margin: 20px 0; font-size: 13px; background: ' + theme.colors.background.white + ';\">';\n    \n    // En-têtes avec gradient primary\n    tableHtml += '<thead><tr style=\"background: ' + theme.gradients.primary + '; color: white;\">';\n    headers.forEach(h => {\n      tableHtml += `<th style=\"padding: 12px; text-align: left; border: 1px solid rgba(255,255,255,0.2); font-weight: 600; letter-spacing: 0.3px;\">${h.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>')}</th>`;\n    });\n    tableHtml += '</tr></thead><tbody>';\n    \n    // Lignes avec alternance\n    rowLines.forEach((row, idx) => {\n      const cells = row.split('|').map(c => c.trim()).filter(c => c);\n      if (cells.length > 0 && !cells[0].match(/^[-|\\s]+$/)) {\n        const bgColor = idx % 2 === 0 ? theme.colors.background.white : theme.colors.background.light;\n        tableHtml += `<tr style=\"background: ${bgColor}; transition: background 0.2s;\">`;\n        cells.forEach(cell => {\n          let cellContent = cell.replace(/\\*\\*(.*?)\\*\\*/g, '<strong style=\"color: ' + theme.colors.primary + ';\">$1</strong>');\n          cellContent = cellContent.replace(/\\*(.*?)\\*/g, '<em>$1</em>');\n          cellContent = cellContent.replace(/🏆/g, '<span style=\"color: ' + theme.colors.success + '; font-size: 16px;\">🏆</span>');\n          tableHtml += `<td style=\"padding: 10px; border: 1px solid ${theme.colors.border.light}; color: ${theme.colors.text.dark};\">${cellContent}</td>`;\n        });\n        tableHtml += '</tr>';\n      }\n    });\n    \n    tableHtml += '</tbody></table>';\n    return tableHtml;\n  });\n  \n  // Convertir **gras** avec couleur primary\n  html = html.replace(/\\*\\*(.*?)\\*\\*/g, '<strong style=\"color: ' + theme.colors.primary + '; font-weight: 700;\">$1</strong>');\n  \n  // Convertir *italique*\n  html = html.replace(/\\*(?!\\*)(.*?)\\*(?!\\*)/g, '<em style=\"color: ' + theme.colors.text.medium + ';\">$1</em>');\n  \n  // Convertir les titres\n  html = html.replace(/^###\\s+(.+)$/gm, '<h3 style=\"margin-top: 24px; margin-bottom: 12px; color: ' + theme.colors.primary + '; font-size: 18px; font-weight: 600; border-left: 4px solid ' + theme.colors.primaryLight + '; padding-left: 12px;\">$1</h3>');\n  html = html.replace(/^##\\s+(.+)$/gm, '<h2 style=\"margin-top: 28px; margin-bottom: 16px; color: ' + theme.colors.primaryDark + '; font-size: 22px; font-weight: 700; border-bottom: 3px solid ' + theme.colors.primary + '; padding-bottom: 8px;\">$1</h2>');\n  html = html.replace(/^#\\s+(.+)$/gm, '<h1 style=\"margin-top: 32px; margin-bottom: 20px; color: ' + theme.colors.primaryDark + '; font-size: 26px; font-weight: 700;\">$1</h1>');\n  \n  // Convertir les listes\n  html = html.replace(/^[-•]\\s+(.+)$/gm, '<li style=\"margin-left: 20px; margin-bottom: 6px; color: ' + theme.colors.text.dark + '; position: relative; padding-left: 8px;\"><span style=\"position: absolute; left: -12px; color: ' + theme.colors.primary + ';\">•</span>$1</li>');\n  html = html.replace(/(<li.*?<\\/li>\\n?)+/g, '<ul style=\"margin: 16px 0; padding-left: 20px; list-style: none;\">$&</ul>');\n  \n  // Convertir les séparateurs\n  html = html.replace(/^---+$/gm, '<hr style=\"border: none; border-top: 2px solid ' + theme.colors.primary + '; margin: 24px 0; opacity: 0.3;\">');\n  \n  // Convertir les sauts de ligne\n  html = html.replace(/\\n\\n/g, '</p><p style=\"margin-bottom: 12px; color: ' + theme.colors.text.dark + '; line-height: 1.7;\">');\n  html = html.replace(/\\n/g, '<br>');\n  \n  // Encapsuler dans des paragraphes\n  if (!html.startsWith('<')) html = '<p style=\"margin-bottom: 12px; color: ' + theme.colors.text.dark + '; line-height: 1.7;\">' + html;\n  if (!html.endsWith('>')) html = html + '</p>';\n  \n  return html;\n}\n\n// Map prompt types to French\nconst promptTypeFrench = {\n  'morning': 'MATIN',\n  'noon': 'MIDI',\n  'evening': 'SOIR',\n  'custom': 'PERSONNALISÉE'\n};\n\nconst editionType = promptTypeFrench[data.prompt_type] || (data.prompt_type ? data.prompt_type.toUpperCase() : 'PERSONNALISÉE');\n\n// Formatage des métadonnées\nconst now = new Date();\nconst generationTime = now.toLocaleString('fr-FR', { \n  weekday: 'long', \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  timeZone: 'America/Montreal'\n});\n\nconst triggerType = data.trigger_type || 'Manuel';\nconst emmaModel = data.emma_model || 'perplexity';\nconst emmaTools = Array.isArray(data.emma_tools) ? data.emma_tools : [];\nconst emmaExecutionTime = data.emma_execution_time || 0;\nconst emmaConfidence = data.emma_confidence || null;\n\n// Convertir le contenu markdown en HTML\nconst formattedContent = markdownToHtml(data.newsletter_content || '');\n\nconst html = \\`\n<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Newsletter Financière Emma</title>\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body { \n      font-family: ${theme.email.fonts.primary}; \n      line-height: 1.7; \n      color: ${theme.colors.text.dark}; \n      background: linear-gradient(135deg, ${theme.colors.background.light} 0%, ${theme.colors.background.dark} 100%);\n      padding: ${theme.email.spacing.padding.small};\n    }\n    .container {\n      max-width: ${theme.email.spacing.containerMaxWidth};\n      margin: 0 auto;\n      background: ${theme.colors.background.white};\n      border-radius: ${theme.email.spacing.borderRadius.large};\n      overflow: hidden;\n      box-shadow: ${theme.email.shadows.large};\n    }\n    .header { \n      background: ${theme.gradients.primary}; \n      color: white; \n      padding: ${theme.email.spacing.padding.large} ${theme.email.spacing.padding.medium}; \n      text-align: center;\n      position: relative;\n      overflow: hidden;\n    }\n    .header::before {\n      content: '';\n      position: absolute;\n      top: -50%;\n      right: -50%;\n      width: 200%;\n      height: 200%;\n      background: radial-gradient(circle, rgba(255,255,255,0.1) 0%, transparent 70%);\n      animation: shimmer 3s ease-in-out infinite;\n    }\n    @keyframes shimmer {\n      0%, 100% { transform: translate(0, 0) rotate(0deg); }\n      50% { transform: translate(-10px, -10px) rotate(5deg); }\n    }\n    .header h1 { \n      margin: 0; \n      font-size: 34px; \n      font-weight: 800;\n      letter-spacing: -0.5px;\n      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);\n      position: relative;\n      z-index: 1;\n    }\n    .subtitle { \n      margin-top: 12px; \n      opacity: 0.95; \n      font-size: 14px;\n      font-weight: 600;\n      letter-spacing: 0.5px;\n      text-transform: uppercase;\n      position: relative;\n      z-index: 1;\n    }\n    .metadata-box {\n      background: ${theme.colors.background.medium};\n      padding: 24px ${theme.email.spacing.padding.medium};\n      border-bottom: 3px solid ${theme.colors.primary};\n    }\n    .metadata-box table {\n      width: 100%;\n      border-collapse: collapse;\n      font-size: 13px;\n    }\n    .metadata-box td {\n      padding: 8px 12px;\n      border-bottom: 1px solid ${theme.colors.border.light};\n    }\n    .metadata-box td:first-child {\n      font-weight: 700;\n      color: ${theme.colors.primaryDark};\n      width: 150px;\n      font-size: 12px;\n      text-transform: uppercase;\n      letter-spacing: 0.5px;\n    }\n    .metadata-box td:last-child {\n      color: ${theme.colors.text.dark};\n      font-weight: 500;\n    }\n    .metadata-box .badge {\n      display: inline-block;\n      padding: 6px 14px;\n      border-radius: 20px;\n      font-size: 11px;\n      font-weight: 700;\n      background: ${theme.gradients.primary};\n      color: white;\n      text-transform: uppercase;\n      letter-spacing: 0.5px;\n      box-shadow: ${theme.email.shadows.primary};\n    }\n    .content { \n      background: ${theme.colors.background.white}; \n      padding: ${theme.email.spacing.padding.large} ${theme.email.spacing.padding.medium};\n    }\n    .analysis { \n      background: ${theme.colors.background.light}; \n      padding: 35px; \n      border-radius: ${theme.email.spacing.borderRadius.medium}; \n      margin-bottom: 25px; \n      border-left: 5px solid ${theme.colors.primary};\n      box-shadow: ${theme.email.shadows.medium};\n      line-height: 1.8;\n    }\n    .analysis p {\n      margin-bottom: 14px;\n      color: ${theme.colors.text.dark};\n    }\n    .analysis h2, .analysis h3 {\n      margin-top: 24px;\n      margin-bottom: 12px;\n    }\n    .analysis table {\n      margin: 20px 0;\n      overflow-x: auto;\n      display: block;\n    }\n    .ticker-box {\n      margin-top: 25px; \n      padding: 24px; \n      background: ${theme.gradients.primaryAlt};\n      border-radius: ${theme.email.spacing.borderRadius.medium};\n      border: 2px solid ${theme.colors.primary};\n      box-shadow: ${theme.email.shadows.primary};\n    }\n    .ticker-box strong {\n      color: white;\n      font-size: 16px;\n      display: block;\n      margin-bottom: 10px;\n      font-weight: 700;\n      text-transform: uppercase;\n      letter-spacing: 0.5px;\n    }\n    .ticker-list {\n      color: rgba(255, 255, 255, 0.95);\n      font-weight: 600;\n      font-size: 15px;\n    }\n    .footer { \n      text-align: center; \n      padding: ${theme.email.spacing.padding.medium};\n      background: ${theme.colors.background.medium};\n      border-top: 2px solid ${theme.colors.border.light};\n    }\n    .footer p {\n      margin: 8px 0;\n      font-size: 13px;\n      color: ${theme.colors.text.medium};\n    }\n    .footer .powered-by {\n      font-weight: 700;\n      color: ${theme.colors.primaryDark};\n      font-size: 14px;\n      text-transform: uppercase;\n      letter-spacing: 0.5px;\n    }\n    .footer .powered-by::before {\n      content: '⚡ ';\n      color: ${theme.colors.success};\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>📊 Newsletter Financière Emma</h1>\n      <div class=\"subtitle\">ÉDITION DU ${editionType} | ${now.toLocaleDateString('fr-FR', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}</div>\n    </div>\n    <div class=\"metadata-box\">\n      <table>\n        <tr>\n          <td>🕐 Heure de génération:</td>\n          <td><strong>${generationTime}</strong></td>\n        </tr>\n        <tr>\n          <td>⚡ Déclencheur:</td>\n          <td><span class=\"badge\">${triggerType}</span></td>\n        </tr>\n        <tr>\n          <td>🤖 Modèle Emma:</td>\n          <td><strong style=\"color: ${theme.colors.primaryDark};\">${emmaModel.toUpperCase()}</strong></td>\n        </tr>\n        ${emmaTools.length > 0 ? `<tr>\n          <td>🔧 Outils utilisés:</td>\n          <td><span style=\"color: ${theme.colors.text.medium};\">${emmaTools.join(', ')}</span></td>\n        </tr>` : ''}\n        ${emmaExecutionTime > 0 ? `<tr>\n          <td>⏱️ Temps d'exécution:</td>\n          <td><strong style=\"color: ${theme.colors.success};\">${(emmaExecutionTime / 1000).toFixed(1)}s</strong></td>\n        </tr>` : ''}\n        ${emmaConfidence !== null ? `<tr>\n          <td>📊 Confiance:</td>\n          <td><strong style=\"color: ${theme.colors.primaryDark};\">${(emmaConfidence * 100).toFixed(0)}%</strong></td>\n        </tr>` : ''}\n      </table>\n    </div>\n    <div class=\"content\">\n      <div class=\"analysis\">\n        ${formattedContent}\n      </div>\n      ${data.tickers ? `\n      <div class=\"ticker-box\">\n        <strong>📈 Tickers suivis :</strong>\n        <div class=\"ticker-list\">${data.tickers}</div>\n      </div>\n      ` : ''}\n    </div>\n    <div class=\"footer\">\n      <p class=\"powered-by\">Généré par Emma IA | Propulsé par ${emmaModel === 'perplexity' ? 'Perplexity' : 'Gemini'}</p>\n      <p>Ceci est une newsletter automatisée. Merci de ne pas répondre à cet email.</p>\n    </div>\n  </div>\n</body>\n</html>\n\\`;\n\nconst subjectMap = {\n  'morning': 'Matin',\n  'noon': 'Midi',\n  'evening': 'Soir',\n  'custom': 'Personnalisée'\n};\n\nconst subjectType = subjectMap[data.prompt_type] || data.prompt_type;\n\nreturn [{\n  json: {\n    ...data,\n    html_content: html,\n    subject: \\`Newsletter Emma - Mise à jour du ${subjectType}\\`\n  }\n}];"
      },
      "id": "9f33f73d-349d-48b3-8d6a-a49184737384",
      "name": "Generate HTML Newsletter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20224,
        4536
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer re_XeAhe3ju_PAnnuMx3kmhgPKnDff8PatR6"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"from\": \"Emma Newsletter <onboarding@resend.dev>\", \"to\": $json.recipients || [\"projetsjsl@gmail.com\"], \"subject\": $json.subject, \"html\": $json.html_content } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "beade8c0-697a-4479-a714-427af704b510",
      "name": "Send Email via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20448,
        4536
      ]
    },
    {
      "parameters": {
        "tableId": "team_newsletters",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "prompt_type",
              "fieldValue": "={{ $json.prompt_type }}"
            },
            {
              "fieldId": "api_used",
              "fieldValue": "={{ $json.api_type }}"
            },
            {
              "fieldId": "tickers",
              "fieldValue": "={{ $json.tickers }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.newsletter_content }}"
            },
            {
              "fieldId": "sent_at",
              "fieldValue": "={{ $json.generated_at }}"
            },
            {
              "fieldId": "test_mode",
              "fieldValue": "={{ $json.test_mode }}"
            }
          ]
        }
      },
      "id": "b0291671-026c-49c9-b37a-9e513f3c2e85",
      "name": "Log to Newsletters Table",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        20672,
        4536
      ],
      "credentials": {
        "supabaseApi": {
          "id": "WGwVmhxNX4mHZmVO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "team_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "workflow_name",
              "fieldValue": "Emma Newsletter"
            },
            {
              "fieldId": "status",
              "fieldValue": "success"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ 'Newsletter sent: ' + $json.prompt_type }}"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "29addad3-ef28-48b0-bb20-18db04e545d4",
      "name": "Log to Logs Table",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        20896,
        4536
      ],
      "credentials": {
        "supabaseApi": {
          "id": "WGwVmhxNX4mHZmVO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "active_api",
              "value": "perplexity",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "test_mode",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "id-preview-mode-1762640093151",
              "name": "preview_mode",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "id-approved-1762640093151",
              "name": "approved",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "1ad117ce-d3f2-4d81-ac31-0f630b7e7a6c",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        18656,
        4464
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "subject:Emma",
          "readStatus": "unread"
        }
      },
      "id": "9041e17a-e0a4-4e37-9ba7-12fe235db41f",
      "name": "Gmail Trigger (Custom Prompt)",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        18432,
        4680
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "bmBwCRZ3KQTDIMTG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "6a4255df-5f6b-4b7d-9fd4-4398c4741049",
      "name": "Telegram Trigger (Custom Prompt)",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        18432,
        4872
      ],
      "webhookId": "1d4fb668-97ac-440c-9a17-8656ae9083a8",
      "credentials": {
        "telegramApi": {
          "id": "uoIupEJ4OAsCIDaM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "active_api",
              "value": "={{ $json.custom_api || 'perplexity' }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "test_mode",
              "value": "={{ $json.custom_test_mode !== undefined ? $json.custom_test_mode : false }}",
              "type": "boolean"
            },
            {
              "id": "id-3",
              "name": "recipients",
              "value": "[\"projetsjsl@gmail.com\"]",
              "type": "array"
            },
            {
              "id": "id-4",
              "name": "custom_prompt",
              "value": "={{ $json.textPlain || $json.message?.text || '' }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "trigger_source",
              "value": "={{ $json.textPlain ? 'gmail' : ($json.message?.text ? 'telegram' : 'unknown') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "b9afa8d9-1934-4e8c-a79e-bcfdbe155765",
      "name": "Custom Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        18656,
        4776
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gob-projetsjsls-projects.vercel.app/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"message\": $json.message,\n  \"channel\": $json.channel || 'web',\n  \"userId\": $json.userId || 'n8n-automation'\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "emma-n8n-briefing-node-id",
      "name": "Call /api/chat (Emma)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        19552,
        4536
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://gob-projetsjsls-projects.vercel.app/api/briefing-prompts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-prompts-from-api",
      "name": "Fetch Prompts from API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        18528,
        4464
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst data = items[0].json;\n\n// ============================================\n// PRÉSERVER preview_mode et approved depuis les nodes de configuration\n// ============================================\n// Ces valeurs viennent des nodes: Schedule Config, Webhook Config, Manual Config, Chat Config\nconst previewMode = data.preview_mode !== undefined ? data.preview_mode : true; // Fallback à true si non défini\nconst approved = data.approved !== undefined ? data.approved : false; // Fallback à false si non défini\n\nconsole.log('📊 Preview Briefing Content - Valeurs préservées:');\nconsole.log('   preview_mode:', previewMode, '(type:', typeof previewMode, ')');\nconsole.log('   approved:', approved, '(type:', typeof approved, ')');\n\n// Extraire le contenu de la réponse\nconst content = data.newsletter_content || data.response || data.message || 'Aucun contenu reçu';\nconst metadata = {\n  trigger_type: data.trigger_type || 'Manuel',\n  emma_model: data.emma_model || 'perplexity',\n  emma_tools: data.emma_tools || [],\n  emma_execution_time: data.emma_execution_time || 0,\n  prompt_type: data.prompt_type || 'custom',\n  generated_at: data.generated_at || new Date().toISOString()\n};\n\n// Créer un résumé pour la prévisualisation\n// IMPORTANT: Préserver preview_mode et approved depuis les nodes de configuration\nconst preview = {\n  success: true,\n  preview_mode: previewMode, // PRÉSERVER depuis les nodes de configuration\n  approved: approved, // PRÉSERVER depuis les nodes de configuration\n  content: content.substring(0, 500) + (content.length > 500 ? '...' : ''),\n  content_length: content.length,\n  metadata: metadata,\n  full_content: content,\n  ready_for_approval: approved === true && previewMode === false\n};\n\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    ...preview\n  }\n}));"
      },
      "id": "preview-briefing-content",
      "name": "Preview Briefing Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20320,
        4536
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.test_mode === false || $json.require_approval === false || $json.approved === true }}",
              "value2": true
            }
          ]
        }
      },
      "id": "approval-check",
      "name": "Check Approval",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        19904,
        4536
      ]
    },
    {
      "parameters": {
        "message": "=📋 PRÉVISUALISATION DU BRIEFING\n\n✅ Le briefing a été généré avec succès.\n\n📊 Métadonnées :\n- Type : {{ $json.prompt_type }}\n- Modèle : {{ $json.emma_model }}\n- Outils utilisés : {{ $json.emma_tools.join(', ') }}\n- Temps d'exécution : {{ ($json.emma_execution_time / 1000).toFixed(1) }}s\n- Longueur : {{ $json.content_length }} caractères\n\n📝 Aperçu (500 premiers caractères) :\n{{ $json.content }}\n\n⚠️ Pour approuver et envoyer, modifiez le nœud \"Preview Briefing Content\" et définissez \"approved\" à true, puis réexécutez.\n\n💡 Astuce : Vous pouvez aussi modifier le prompt dans \"Custom Prompt Input\" et réexécuter pour tester différentes versions."
      },
      "id": "preview-message",
      "name": "Preview Message",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        20640,
        4536
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ ($json.preview_mode === false || $json.preview_mode === 'false') && ($json.approved === true || $json.approved === 'true') }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "preview-or-send-switch",
      "name": "Should Send Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        20320,
        4536
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst data = items[0].json;\n\n// Extraire le contenu\nconst content = data.newsletter_content || data.response || data.message || 'Aucun contenu reçu';\nconst metadata = {\n  trigger_type: data.trigger_type || 'Manuel',\n  emma_model: data.emma_model || 'perplexity',\n  emma_tools: Array.isArray(data.emma_tools) ? data.emma_tools.join(', ') : 'Aucun',\n  emma_execution_time: data.emma_execution_time || 0,\n  prompt_type: data.prompt_type || 'custom',\n  generated_at: data.generated_at || new Date().toISOString(),\n  content_length: content.length\n};\n\n// Créer un message de prévisualisation formaté avec lien HTML\nconst previewMessage = `\n╔══════════════════════════════════════════════════════════════╗\n║  📋 PRÉVISUALISATION DU BRIEFING                            ║\n╚══════════════════════════════════════════════════════════════╝\n\n✅ Briefing généré avec succès !\n\n📊 MÉTADONNÉES :\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n• Type : ${metadata.prompt_type}\n• Modèle Emma : ${metadata.emma_model.toUpperCase()}\n• Outils utilisés : ${metadata.emma_tools}\n• Temps d'exécution : ${(metadata.emma_execution_time / 1000).toFixed(1)}s\n• Longueur : ${metadata.content_length} caractères\n• Généré le : ${new Date(metadata.generated_at).toLocaleString('fr-FR')}\n\n📝 APERÇU DU CONTENU (500 premiers caractères) :\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n${content.substring(0, 500)}${content.length > 500 ? '...' : ''}\n\n🌐 PRÉVISUALISATION HTML :\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n📧 Pour voir la prévisualisation HTML complète de l'email :\n   1. Utilisez le \"Chat Trigger (Preview)\" pour obtenir une URL\n   2. Ou consultez le nœud \"Generate HTML Preview\" pour le HTML\n\n⚠️  POUR APPROUVER ET ENVOYER :\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n1. Modifiez le nœud \"Custom Prompt Input\"\n2. Changez \"approved\" de false à true\n3. Réexécutez le workflow depuis \"Custom Prompt Input\"\n\n💡 ASTUCE : Vous pouvez aussi modifier le prompt dans \"Custom Prompt Input\"\net réexécuter pour tester différentes versions.\n`;\n\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    preview_message: previewMessage,\n    preview_content: content,\n    preview_metadata: metadata\n  }\n}));"
      },
      "id": "preview-display",
      "name": "Preview Display",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20640,
        4436
      ]
    },
    {
      "parameters": {
        "message": "=📋 PRÉVISUALISATION\n\n{{ $json.preview_message }}\n\n⚠️ Pour envoyer, modifiez \"approved\" à true dans \"Custom Prompt Input\" et réexécutez."
      },
      "id": "preview-stop",
      "name": "Preview Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        20960,
        4436
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "emma-newsletter/preview",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "chat-trigger-preview",
      "name": "Chat Trigger (Preview)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        17760,
        4072
      ],
      "webhookId": "emma-preview-webhook"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst data = items[0].json;\n\n// Récupérer le contenu HTML généré\nconst htmlContent = data.html_content || '';\nconst subject = data.subject || 'Newsletter Emma';\nconst content = data.newsletter_content || data.response || '';\n\n// Créer une prévisualisation HTML interactive\nconst previewHtml = `\n<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Prévisualisation - ${subject}</title>\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body {\n      font-family: 'Inter', 'Roboto', sans-serif;\n      background: linear-gradient(135deg, #f8fafc 0%, #e2e8f0 100%);\n      padding: 20px;\n    }\n    .preview-container {\n      max-width: 800px;\n      margin: 0 auto;\n      background: white;\n      border-radius: 12px;\n      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);\n      overflow: hidden;\n    }\n    .preview-header {\n      background: linear-gradient(135deg, #6366f1 0%, #8b5cf6 100%);\n      color: white;\n      padding: 24px;\n      text-align: center;\n    }\n    .preview-header h1 {\n      font-size: 24px;\n      margin-bottom: 8px;\n    }\n    .preview-header p {\n      opacity: 0.9;\n      font-size: 14px;\n    }\n    .preview-actions {\n      padding: 20px;\n      background: #f8fafc;\n      border-bottom: 2px solid #e5e7eb;\n      display: flex;\n      gap: 12px;\n      justify-content: center;\n    }\n    .preview-btn {\n      padding: 12px 24px;\n      border-radius: 8px;\n      font-weight: 600;\n      cursor: pointer;\n      border: none;\n      font-size: 14px;\n      transition: all 0.2s;\n    }\n    .preview-btn.approve {\n      background: linear-gradient(135deg, #10b981 0%, #059669 100%);\n      color: white;\n    }\n    .preview-btn.approve:hover {\n      transform: translateY(-2px);\n      box-shadow: 0 4px 12px rgba(16, 185, 129, 0.3);\n    }\n    .preview-btn.reject {\n      background: #ef4444;\n      color: white;\n    }\n    .preview-btn.reject:hover {\n      transform: translateY(-2px);\n      box-shadow: 0 4px 12px rgba(239, 68, 68, 0.3);\n    }\n    .preview-content {\n      padding: 0;\n    }\n    .preview-content iframe {\n      width: 100%;\n      height: 800px;\n      border: none;\n    }\n    .preview-metadata {\n      padding: 20px;\n      background: #f1f5f9;\n      border-top: 2px solid #e5e7eb;\n    }\n    .preview-metadata table {\n      width: 100%;\n      border-collapse: collapse;\n    }\n    .preview-metadata td {\n      padding: 8px 12px;\n      border-bottom: 1px solid #e5e7eb;\n    }\n    .preview-metadata td:first-child {\n      font-weight: 700;\n      color: #4f46e5;\n      width: 150px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"preview-container\">\n    <div class=\"preview-header\">\n      <h1>📋 Prévisualisation de l'Email</h1>\n      <p>Vérifiez le contenu avant d'approuver l'envoi</p>\n    </div>\n    \n    <div class=\"preview-actions\">\n      <button class=\"preview-btn approve\" onclick=\"approveEmail()\">\n        ✅ Approuver et Envoyer\n      </button>\n      <button class=\"preview-btn reject\" onclick=\"rejectEmail()\">\n        ❌ Rejeter\n      </button>\n    </div>\n    \n    <div class=\"preview-content\">\n      <iframe srcdoc=\"${htmlContent.replace(/\"/g, '&quot;')}\"></iframe>\n    </div>\n    \n    <div class=\"preview-metadata\">\n      <table>\n        <tr>\n          <td>Sujet:</td>\n          <td>${subject}</td>\n        </tr>\n        <tr>\n          <td>Type:</td>\n          <td>${data.prompt_type || 'custom'}</td>\n        </tr>\n        <tr>\n          <td>Modèle Emma:</td>\n          <td>${data.emma_model || 'perplexity'}</td>\n        </tr>\n        <tr>\n          <td>Longueur:</td>\n          <td>${content.length} caractères</td>\n        </tr>\n        <tr>\n          <td>Généré le:</td>\n          <td>${new Date().toLocaleString('fr-FR')}</td>\n        </tr>\n      </table>\n    </div>\n  </div>\n  \n  <script>\n    function approveEmail() {\n      alert('✅ Pour approuver:\\n\\n1. Retournez dans n8n\\n2. Modifiez le nœud \"Custom Prompt Input\"\\n3. Changez \"approved\" à true\\n4. Réexécutez le workflow');\n    }\n    function rejectEmail() {\n      alert('❌ Email rejeté. Modifiez le prompt dans \"Custom Prompt Input\" et réexécutez.');\n    }\n  </script>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    ...data,\n    preview_html: previewHtml,\n    preview_url: `data:text/html;charset=utf-8,${encodeURIComponent(previewHtml)}`\n  }\n}];"
      },
      "id": "html-preview-generator",
      "name": "Generate HTML Preview",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20544,
        4536
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"preview_html\": $json.preview_html, \"preview_url\": $json.preview_url, \"subject\": $json.subject, \"metadata\": { \"type\": $json.prompt_type, \"model\": $json.emma_model, \"length\": ($json.newsletter_content || $json.response || '').length } } }}",
        "options": {}
      },
      "id": "serve-preview",
      "name": "Serve Preview",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        20864,
        4536
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://gob-projetsjsls-projects.vercel.app/api/email-recipients",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-email-recipients-node",
      "name": "Fetch Email Recipients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20384,
        4536
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst data = items[0].json;\n\n// Récupérer le type de briefing depuis les données précédentes\nconst briefingType = $('Determine Time-Based Prompt').item.json.prompt_type || 'custom';\nconst previewMode = $('Custom Prompt Input').item.json.preview_mode || false;\n\n// Normaliser le type\nlet normalizedType = briefingType;\nif (normalizedType === 'noon') {\n  normalizedType = 'midday';\n}\n\n// Récupérer les destinataires depuis l'API\nconst recipientsData = data.recipients || [];\nconst previewEmail = data.preview_email || 'projetsjsl@gmail.com';\n\nlet emailList = [];\n\nif (previewMode === true) {\n  // Mode preview : utiliser l'email de preview\n  emailList = [previewEmail];\n} else {\n  // Mode envoi : utiliser les destinataires actifs du type\n  emailList = recipientsData\n    .filter(r => r.active && r[normalizedType])\n    .map(r => r.email);\n  \n  // Fallback si aucun destinataire trouvé\n  if (emailList.length === 0) {\n    emailList = [previewEmail];\n  }\n}\n\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    recipients: emailList,\n    recipient_count: emailList.length,\n    briefing_type: normalizedType,\n    preview_mode: previewMode\n  }\n}));"
      },
      "id": "process-recipients-node",
      "name": "Process Recipients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20544,
        4536
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "active_api",
              "value": "perplexity",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "test_mode",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "id-preview-mode-1762640093151",
              "name": "preview_mode",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "id-approved-1762640093151",
              "name": "approved",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "config-schedule-config-1762643453541",
      "name": "Schedule Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        18656,
        4264
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "active_api",
              "value": "perplexity",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "test_mode",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "id-preview-mode-1762640093151",
              "name": "preview_mode",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "id-approved-1762640093151",
              "name": "approved",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "config-webhook-config-1762643453541",
      "name": "Webhook Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        18656,
        4364
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "active_api",
              "value": "perplexity",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "test_mode",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "id-preview-mode-1762640093151",
              "name": "preview_mode",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "id-approved-1762640093151",
              "name": "approved",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "config-manual-config-1762643453541",
      "name": "Manual Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        18656,
        4564
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "active_api",
              "value": "perplexity",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "test_mode",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "id-preview-mode-1762640093151",
              "name": "preview_mode",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "id-approved-1762640093151",
              "name": "approved",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "config-chat-config-1762643453541",
      "name": "Chat Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        18656,
        4664
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst data = items[0].json;\n\nconsole.log('🔍 DEBUG AVANT SWITCH:');\nconsole.log('   preview_mode:', data.preview_mode, '(type:', typeof data.preview_mode, ')');\nconsole.log('   approved:', data.approved, '(type:', typeof data.approved, ')');\nconsole.log('   Condition Preview:', data.preview_mode === true || data.approved !== true);\nconsole.log('   Condition Send:', data.preview_mode === false && data.approved === true);\n\nreturn items;"
      },
      "id": "debug-before-switch-node",
      "name": "Debug Before Switch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20160,
        4536
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": $json.message || $json.selected_prompt || \"Génère un briefing financier matinal.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"topK\": 40,\n    \"topP\": 0.95,\n    \"maxOutputTokens\": 2048\n  }\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "call-gemini-api-node",
      "name": "Call Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        19552,
        4736
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst data = items[0].json;\n\n// La réponse de Gemini a une structure différente\n// Structure Gemini: { candidates: [{ content: { parts: [{ text: \"...\" }] } }] }\nlet content = '';\nif (data.candidates && data.candidates[0] && data.candidates[0].content && data.candidates[0].content.parts) {\n  content = data.candidates[0].content.parts.map(part => part.text).join('\\n');\n} else if (data.response) {\n  content = data.response;\n} else if (typeof data === 'string') {\n  content = data;\n}\n\n// Adapter au format attendu par Parse API Response\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    newsletter_content: content,\n    response: content,\n    message: content,\n    emma_model: 'gemini',\n    emma_tools: [],\n    emma_execution_time: 0,\n    trigger_type: item.json.trigger_type || 'Manuel',\n    prompt_type: item.json.prompt_type || 'custom',\n    generated_at: new Date().toISOString(),\n    // Préserver preview_mode et approved\n    preview_mode: item.json.preview_mode,\n    approved: item.json.approved\n  }\n}));"
      },
      "id": "parse-gemini-response",
      "name": "Parse Gemini Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20000,
        4736
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.ai_model }}",
              "operation": "equals",
              "value2": "emma"
            }
          ]
        }
      },
      "id": "ai-model-selector-switch",
      "name": "Choose AI Model (IF)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        19264,
        4536
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════\n// 🤖 SÉLECTEUR DE MODÈLE IA - MODIFIEZ ICI ⚙️\n// ═══════════════════════════════════════════════════════════\n//\n// 👇 MODIFIEZ LA VALEUR CI-DESSOUS 👇\n//\nconst AI_MODEL = 'emma';\n//\n// Options disponibles:\n//   - 'emma'    → Utilise Emma (Perplexity) via /api/chat\n//   - 'gemini'  → Utilise Gemini directement\n//\n// ═══════════════════════════════════════════════════════════\n\nconst items = $input.all();\n\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    ai_model: AI_MODEL,\n    _model_info: AI_MODEL === 'emma' \n      ? '🤖 Emma (Perplexity) - Recherche web en temps réel' \n      : '✨ Gemini Direct - Réponse rapide'\n  }\n}));"
      },
      "id": "ai-model-config-dropdown",
      "name": "⚙️ AI Model Selector (Change AI_MODEL)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19264,
        4536
      ]
    }
  ],
  "connections": {
    "Schedule Trigger (7h/12h/16h30 EST)": {
      "main": [
        [
          {
            "node": "Schedule Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Webhook Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger (Custom Prompt)": {
      "main": [
        [
          {
            "node": "Custom Prompt Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Custom Prompt Input": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Fetch Prompts from API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Tickers": {
      "main": [
        [
          {
            "node": "Determine Time-Based Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Time-Based Prompt": {
      "main": [
        [
          {
            "node": "⚙️ AI Model Selector (Change AI_MODEL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare API Request": {
      "main": [
        [
          {
            "node": "Call /api/chat (Emma)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse API Response": {
      "main": [
        [
          {
            "node": "Debug Before Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Newsletter": {
      "main": [
        [
          {
            "node": "Fetch Email Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Resend": {
      "main": [
        [
          {
            "node": "Log to Newsletters Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Newsletters Table": {
      "main": [
        [
          {
            "node": "Log to Logs Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Fetch Prompts from API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger (Custom Prompt)": {
      "main": [
        [
          {
            "node": "Custom Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger (Custom Prompt)": {
      "main": [
        [
          {
            "node": "Custom Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Custom Workflow Configuration": {
      "main": [
        [
          {
            "node": "Get Active Tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call /api/chat (Emma)": {
      "main": [
        [
          {
            "node": "Parse API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Prompts from API": {
      "main": [
        [
          {
            "node": "Get Active Tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preview Briefing Content": {
      "main": [
        [
          {
            "node": "Preview Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preview Message": {
      "main": [
        [
          {
            "node": "Check Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Approval": {
      "main": [
        [
          {
            "node": "Generate HTML Newsletter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preview Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preview Display": {
      "main": [
        [
          {
            "node": "Preview Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger (Preview)": {
      "main": [
        [
          {
            "node": "Custom Prompt Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Preview": {
      "main": [
        [
          {
            "node": "Serve Preview",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preview Display",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Email Recipients": {
      "main": [
        [
          {
            "node": "Process Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Recipients": {
      "main": [
        [
          {
            "node": "Send Email via Resend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Config": {
      "main": [
        [
          {
            "node": "Fetch Prompts from API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Config": {
      "main": [
        [
          {
            "node": "Fetch Prompts from API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Config": {
      "main": [
        [
          {
            "node": "Fetch Prompts from API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Config": {
      "main": [
        [
          {
            "node": "Fetch Prompts from API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Before Switch": {
      "main": [
        [
          {
            "node": "Choose AI Model (IF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Email?": {
      "main": [
        [
          {
            "node": "Generate HTML Newsletter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preview Display",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini API": {
      "main": [
        [
          {
            "node": "Parse Gemini Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Response": {
      "main": [
        [
          {
            "node": "Parse API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ AI Model Selector (Change AI_MODEL)": {
      "main": [
        [
          {
            "node": "Choose AI Model (IF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Choose AI Model (IF)": {
      "main": [
        [
          {
            "node": "Prepare API Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "03lgcA4e9uRTtli1"
  },
  "staticData": {
    "node:Schedule Trigger (7h/12h/16h30 EST)": {
      "recurrenceRules": []
    },
    "node:Gmail Trigger (Custom Prompt)": {
      "Gmail Trigger (Custom Prompt)": {
        "lastTimeChecked": 1762532537,
        "possibleDuplicates": [
          "19a5f2038b731938"
        ]
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "93c08e11-d5f9-4bfe-a9fb-6ec3682e8e36",
  "versionCounter": 67,
  "triggerCount": 4,
  "shared": [
    {
      "updatedAt": "2025-10-20T18:16:03.747Z",
      "createdAt": "2025-10-20T18:16:03.747Z",
      "role": "workflow:owner",
      "workflowId": "03lgcA4e9uRTtli1",
      "projectId": "qfcAzmlYYK6RvGCQ",
      "project": {
        "updatedAt": "2025-09-24T01:26:58.771Z",
        "createdAt": "2025-09-24T01:26:55.321Z",
        "id": "qfcAzmlYYK6RvGCQ",
        "name": "Projets JSL <projetsjsl@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-09-24T01:26:55.322Z",
            "createdAt": "2025-09-24T01:26:55.322Z",
            "userId": "cf0c4ec1-d247-4b12-bc83-04a5c23649fb",
            "projectId": "qfcAzmlYYK6RvGCQ",
            "user": {
              "updatedAt": "2025-11-08T16:33:34.000Z",
              "createdAt": "2025-09-24T01:26:53.819Z",
              "id": "cf0c4ec1-d247-4b12-bc83-04a5c23649fb",
              "email": "projetsjsl@gmail.com",
              "firstName": "Projets",
              "lastName": "JSL",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "userClaimedAiCredits": true,
                "firstSuccessfulWorkflowId": "03lgcA4e9uRTtli1",
                "userActivatedAt": 1760990286412,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1762023542884
                }
              },
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-08",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}