n8n-workflow-03lgcA4e9uRTtli1.json
{
  "updatedAt": "2025-11-05T03:56:44.000Z",
  "createdAt": "2025-10-20T18:16:03.743Z",
  "id": "03lgcA4e9uRTtli1",
  "name": "Emma Newsletter - Automated Multi-API Financial News Distribution",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 12 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "30 16 * * *"
            }
          ]
        }
      },
      "id": "5397f51e-b6e3-4630-9d60-d975554db13b",
      "name": "Schedule Trigger (7h/12h/16h30 EST)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        17760,
        4464
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "emma-newsletter/send",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "30e9d42f-c22e-4ecc-b32f-040e1b36c80d",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        17760,
        4656
      ],
      "webhookId": "dad887b9-1a62-482a-9174-3b79f52a2bb5"
    },
    {
      "parameters": {},
      "id": "2199702c-ea93-484a-9b71-3ba416030308",
      "name": "Manual Trigger (Custom Prompt)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        17760,
        4272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "morning_prompt",
              "value": "=== PROMPT MATIN (7h20 Montréal) ===\n\nTu es Emma, l'assistante financière intelligente. Génère un briefing matinal concis et informatif pour les investisseurs. Structure ton email comme suit :\n\n1. **Ouverture** (2-3 phrases) : Salutation énergique et contexte du marché\n2. **Marché en bref** : Indices principaux, tendances overnight\n3. **Actualités clés** (3-4 points) : Nouvelles importantes qui impactent les marchés\n4. **Focus tickers d'équipe** : Mise en avant de 2-3 actions de notre liste avec prix et variations\n5. **Événements du jour** : Calendrier économique et résultats d'entreprises importants\n6. **Conseil Emma** : Insight ou recommandation basée sur l'analyse\n7. **Fermeture** : Ton optimiste et rappel de la disponibilité\n\nUtilise les outils disponibles pour récupérer des données réelles et à jour. Sois précis, professionnel mais accessible. Longueur : long.",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "noon_prompt",
              "value": "=== PROMPT MIDI (11h50 Montréal) ===\n\nTu es Emma, l'assistante financière intelligente. Génère un briefing de mi-journée qui fait le point sur la session du matin. Structure ton email comme suit :\n\n1. **Ouverture** (2 phrases) : Salutation et résumé de la matinée\n2. **Performance matinale** : Indices, secteurs en hausse/baisse, volumes\n3. **Mouvements notables** : Actions qui bougent significativement avec explications\n4. **Actualités midi** : Développements récents et réactions du marché\n5. **Focus technique** : Analyse rapide des tendances et niveaux clés\n6. **Perspective après-midi** : Ce à quoi s'attendre pour la suite\n7. **Fermeture** : Message encourageant et rappel du briefing du soir\n\nUtilise les données techniques et fondamentales disponibles. Sois analytique mais accessible. Longueur : long.",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "evening_prompt",
              "value": "=== PROMPT SOIR (16h20 Montréal) ===\n\nTu es Emma, l'assistante financière intelligente. Génère un briefing de clôture qui synthétise la journée de trading. Structure ton email comme suit :\n\n1. **Ouverture** (2 phrases) : Salutation et résumé de la journée\n2. **Clôture des marchés** : Indices finaux, variations, volumes de trading\n3. **Secteurs performants** : Top 3 secteurs en hausse/baisse avec explications\n4. **Tickers d'équipe - Bilan** : Performance de nos actions avec analyse\n5. **Événements marquants** : Nouvelles qui ont impacté les marchés\n6. **Perspective demain** : Événements à surveiller et attentes\n7. **Conseil Emma** : Recommandation ou insight pour la suite\n8. **Fermeture** : Message de fin de journée et rendez-vous demain\n\nUtilise toutes les données disponibles pour une analyse complète. Sois synthétique mais complet. Longueur : long.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "222482a6-c851-4a72-9099-48eaf743000e",
      "name": "Prompts Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        17984,
        4560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "custom_prompt",
              "value": "=== PROMPT MIDI (11h50 Montréal) ===\n\nTu es Emma, l'assistante financière intelligente. Génère un briefing de mi-journée qui fait le point sur la session du matin. Structure ton email comme suit :\n\n1. **Ouverture** (2 phrases) : Salutation et résumé de la matinée\n2. **Performance matinale** : Indices, secteurs en hausse/baisse, volumes\n3. **Mouvements notables** : Actions qui bougent significativement avec explications\n4. **Actualités midi** : Développements récents et réactions du marché\n5. **Focus technique** : Analyse rapide des tendances et niveaux clés\n6. **Perspective après-midi** : Ce à quoi s'attendre pour la suite\n7. **Fermeture** : Message encourageant et rappel du briefing du soir\n\nUtilise les données techniques et fondamentales disponibles. Sois analytique mais accessible. Longueur : 250-350 mots.",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "custom_api",
              "value": "={{ $json.api || 'perplexity' }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "custom_test_mode",
              "value": "={{ $json.test_mode !== undefined ? $json.test_mode : false }}",
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c3ecb545-83ea-4db2-ba56-a7104a702733",
      "name": "Custom Prompt Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        17984,
        4272
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "39da4631-55a2-4bbd-b165-312f3714a493",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        18208,
        4464
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "team_tickers",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "id": "ad5015b5-8231-4cd9-acc0-6f0a0ae6265e",
      "name": "Get Active Tickers",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        18880,
        4392
      ],
      "credentials": {
        "supabaseApi": {
          "id": "WGwVmhxNX4mHZmVO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst inputItems = $input.all();\nconst data = inputItems[0].json;\n\n// Check if custom prompt exists\nif (data.custom_prompt) {\n  // Use custom prompt\n  for (const item of inputItems) {\n    item.json.selected_prompt = data.custom_prompt;\n    item.json.prompt_type = 'custom';\n    item.json.processing_status = \"OK\";\n  }\n} else {\n  // Determine time-based prompt\n  const now = new Date();\n  const hour = now.getHours();\n  \n  let promptType;\n  let selectedPrompt;\n  \n  if (hour >= 5 && hour < 11) {\n    // Morning prompt (5am - 11am)\n    promptType = 'morning';\n    selectedPrompt = data.morning_prompt || 'Provide morning financial market analysis and key overnight developments.';\n  } else if (hour >= 11 && hour < 16) {\n    // Noon prompt (11am - 4pm)\n    promptType = 'noon';\n    selectedPrompt = data.noon_prompt || 'Provide midday financial market update with current trends and movements.';\n  } else {\n    // Evening prompt (4pm onwards and before 5am)\n    promptType = 'evening';\n    selectedPrompt = data.evening_prompt || 'Provide end-of-day financial market summary and outlook for tomorrow.';\n  }\n  \n  for (const item of inputItems) {\n    item.json.selected_prompt = selectedPrompt;\n    item.json.prompt_type = promptType;\n    item.json.processing_status = \"OK\";\n  }\n}\n\nreturn inputItems;"
      },
      "id": "6d2c7cfa-f8b7-44de-ab36-4e3d9826a035",
      "name": "Determine Time-Based Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19104,
        4536
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst data = items[0].json;\n\n// Extract ticker symbols from input 1 (tickers data)\nconst tickers = items.filter(item => item.json.ticker).map(item => item.json.ticker);\nconst tickerList = tickers.join(', ');\n\n// Normaliser le type de briefing\nlet briefingType = data.prompt_type;\nif (briefingType === 'noon') {\n  briefingType = 'midday';\n}\n\nreturn [{\n  json: {\n    ...data,\n    tickers: tickerList,\n    briefing_type: briefingType\n  }\n}];"
      },
      "id": "c5d69e3d-82d3-4459-8c12-02af81d03cdd",
      "name": "Prepare API Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19328,
        4536
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst data = items[0].json;\n\n// La réponse de /api/emma-n8n?action=briefing contient:\n// { success: true, action, timestamp, result: { briefing, tools_used, execution_time_ms, type, prompt_config } }\n// OU directement { briefing, tools_used, ... } si la réponse n'est pas enveloppée\nconst result = data.result || data;\nconst content = result.briefing || result.response || data.briefing || data.response || 'No content received';\n\nreturn [{\n  json: {\n    ...data,\n    ...result,\n    newsletter_content: content,\n    api_type: 'emma-agent', // Pour compatibilité avec le reste du workflow\n    generated_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "40676021-3728-41a7-a961-9ec5a4f31b19",
      "name": "Parse API Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20000,
        4536
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst data = items[0].json;\n\n// Map prompt types to French\nconst promptTypeFrench = {\n  'morning': 'MATIN',\n  'noon': 'MIDI',\n  'evening': 'SOIR',\n  'custom': 'PERSONNALISÉE'\n};\n\nconst editionType = promptTypeFrench[data.prompt_type] || (data.prompt_type ? data.prompt_type.toUpperCase() : 'PERSONNALISÉE');\n\nconst html = `\n<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Newsletter Financière Emma</title>\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body { \n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; \n      line-height: 1.6; \n      color: #333; \n      background-color: #f4f4f4;\n      padding: 20px;\n    }\n    .container {\n      max-width: 600px;\n      margin: 0 auto;\n      background: white;\n      border-radius: 12px;\n      overflow: hidden;\n      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);\n    }\n    .header { \n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); \n      color: white; \n      padding: 40px 30px; \n      text-align: center;\n    }\n    .header h1 { \n      margin: 0; \n      font-size: 32px; \n      font-weight: 700;\n      letter-spacing: -0.5px;\n    }\n    .subtitle { \n      margin-top: 12px; \n      opacity: 0.95; \n      font-size: 14px;\n      font-weight: 500;\n      letter-spacing: 0.5px;\n    }\n    .content { \n      background: #ffffff; \n      padding: 35px 30px;\n    }\n    .analysis { \n      background: #f9fafb; \n      padding: 25px; \n      border-radius: 10px; \n      margin-bottom: 25px; \n      border-left: 5px solid #667eea;\n      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);\n    }\n    .analysis p {\n      margin-bottom: 12px;\n    }\n    .ticker-box {\n      margin-top: 25px; \n      padding: 20px; \n      background: linear-gradient(135deg, #e8f4f8 0%, #d4e9f7 100%);\n      border-radius: 10px;\n      border: 1px solid #b8dff0;\n    }\n    .ticker-box strong {\n      color: #2c5282;\n      font-size: 15px;\n      display: block;\n      margin-bottom: 8px;\n    }\n    .ticker-list {\n      color: #1a365d;\n      font-weight: 500;\n      font-size: 14px;\n    }\n    .footer { \n      text-align: center; \n      padding: 25px 30px;\n      background: #f9fafb;\n      border-top: 1px solid #e5e7eb;\n    }\n    .footer p {\n      margin: 8px 0;\n      font-size: 13px;\n      color: #6b7280;\n    }\n    .footer .powered-by {\n      font-weight: 600;\n      color: #4b5563;\n    }\n    .timestamp {\n      font-size: 12px;\n      color: #9ca3af;\n      margin-top: 10px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>📊 Newsletter Financière Emma</h1>\n      <div class=\"subtitle\">ÉDITION DU ${editionType} | ${new Date().toLocaleDateString('fr-FR', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}</div>\n    </div>\n    <div class=\"content\">\n      <div class=\"analysis\">\n        ${data.newsletter_content.replace(/\\n/g, '<br>')}\n      </div>\n      ${data.tickers ? `\n      <div class=\"ticker-box\">\n        <strong>📈 Tickers suivis :</strong>\n        <div class=\"ticker-list\">${data.tickers}</div>\n      </div>\n      ` : ''}\n    </div>\n    <div class=\"footer\">\n      <p class=\"powered-by\">Généré par Emma IA | Propulsé par ${data.api_type === 'perplexity' ? 'Perplexity' : 'Gemini'}</p>\n      <p class=\"timestamp\">Généré le ${new Date().toLocaleString('fr-FR', { dateStyle: 'short', timeStyle: 'short' })}</p>\n      <p>Ceci est une newsletter automatisée. Merci de ne pas répondre à cet email.</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nconst subjectMap = {\n  'morning': 'Matin',\n  'noon': 'Midi',\n  'evening': 'Soir',\n  'custom': 'Personnalisée'\n};\n\nconst subjectType = subjectMap[data.prompt_type] || data.prompt_type;\n\nreturn [{\n  json: {\n    ...data,\n    html_content: html,\n    subject: `Newsletter Emma - Mise à jour du ${subjectType}`\n  }\n}];"
      },
      "id": "9f33f73d-349d-48b3-8d6a-a49184737384",
      "name": "Generate HTML Newsletter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20224,
        4536
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer re_XeAhe3ju_PAnnuMx3kmhgPKnDff8PatR6"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"from\": \"Emma Newsletter <onboarding@resend.dev>\", \"to\": $json.recipients || [\"projetsjsl@gmail.com\"], \"subject\": $json.subject, \"html\": $json.html_content } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "beade8c0-697a-4479-a714-427af704b510",
      "name": "Send Email via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20448,
        4536
      ]
    },
    {
      "parameters": {
        "tableId": "team_newsletters",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "prompt_type",
              "fieldValue": "={{ $json.prompt_type }}"
            },
            {
              "fieldId": "api_used",
              "fieldValue": "={{ $json.api_type }}"
            },
            {
              "fieldId": "tickers",
              "fieldValue": "={{ $json.tickers }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.newsletter_content }}"
            },
            {
              "fieldId": "sent_at",
              "fieldValue": "={{ $json.generated_at }}"
            },
            {
              "fieldId": "test_mode",
              "fieldValue": "={{ $json.test_mode }}"
            }
          ]
        }
      },
      "id": "b0291671-026c-49c9-b37a-9e513f3c2e85",
      "name": "Log to Newsletters Table",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        20672,
        4536
      ],
      "credentials": {
        "supabaseApi": {
          "id": "WGwVmhxNX4mHZmVO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "team_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "workflow_name",
              "fieldValue": "Emma Newsletter"
            },
            {
              "fieldId": "status",
              "fieldValue": "success"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ 'Newsletter sent: ' + $json.prompt_type }}"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "29addad3-ef28-48b0-bb20-18db04e545d4",
      "name": "Log to Logs Table",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        20896,
        4536
      ],
      "credentials": {
        "supabaseApi": {
          "id": "WGwVmhxNX4mHZmVO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "active_api",
              "value": "perplexity",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "test_mode",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "id-3",
              "name": "recipients",
              "value": "[\"projetsjsl@gmail.com\"]",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "1ad117ce-d3f2-4d81-ac31-0f630b7e7a6c",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        18656,
        4464
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "subject:Emma",
          "readStatus": "unread"
        }
      },
      "id": "9041e17a-e0a4-4e37-9ba7-12fe235db41f",
      "name": "Gmail Trigger (Custom Prompt)",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        18432,
        4680
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "bmBwCRZ3KQTDIMTG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "6a4255df-5f6b-4b7d-9fd4-4398c4741049",
      "name": "Telegram Trigger (Custom Prompt)",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        18432,
        4872
      ],
      "webhookId": "1d4fb668-97ac-440c-9a17-8656ae9083a8",
      "credentials": {
        "telegramApi": {
          "id": "uoIupEJ4OAsCIDaM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "active_api",
              "value": "={{ $json.custom_api || 'perplexity' }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "test_mode",
              "value": "={{ $json.custom_test_mode !== undefined ? $json.custom_test_mode : false }}",
              "type": "boolean"
            },
            {
              "id": "id-3",
              "name": "recipients",
              "value": "[\"projetsjsl@gmail.com\"]",
              "type": "array"
            },
            {
              "id": "id-4",
              "name": "custom_prompt",
              "value": "={{ $json.textPlain || $json.message?.text || '' }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "trigger_source",
              "value": "={{ $json.textPlain ? 'gmail' : ($json.message?.text ? 'telegram' : 'unknown') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "b9afa8d9-1934-4e8c-a79e-bcfdbe155765",
      "name": "Custom Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        18656,
        4776
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ ['gmail', 'telegram'].includes($json.trigger_source) }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "29542c31-05a9-4a36-87a6-ba95edf43e78"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        18432,
        4464
      ],
      "id": "158a6de2-37cb-4b70-b370-5ca05a5e26d7",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gob.vercel.app/api/emma-n8n?action=briefing",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.N8N_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"type\": $json.prompt_type === 'noon' ? 'midday' : $json.prompt_type,\n  \"tickers\": $json.tickers ? $json.tickers.split(', ').filter(t => t) : []\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "emma-n8n-briefing-node-id",
      "name": "Call /api/emma-n8n (Briefing)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        19552,
        4536
      ]
    }
  ],
  "connections": {
    "Schedule Trigger (7h/12h/16h30 EST)": {
      "main": [
        [
          {
            "node": "Prompts Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prompts Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger (Custom Prompt)": {
      "main": [
        [
          {
            "node": "Custom Prompt Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompts Configuration": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Custom Prompt Input": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Tickers": {
      "main": [
        [
          {
            "node": "Determine Time-Based Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Time-Based Prompt": {
      "main": [
        [
          {
            "node": "Prepare API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare API Request": {
      "main": [
        [
          {
            "node": "Call /api/emma-n8n (Briefing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse API Response": {
      "main": [
        [
          {
            "node": "Generate HTML Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Newsletter": {
      "main": [
        [
          {
            "node": "Send Email via Resend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Resend": {
      "main": [
        [
          {
            "node": "Log to Newsletters Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Newsletters Table": {
      "main": [
        [
          {
            "node": "Log to Logs Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Get Active Tickers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Determine Time-Based Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger (Custom Prompt)": {
      "main": [
        [
          {
            "node": "Custom Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger (Custom Prompt)": {
      "main": [
        [
          {
            "node": "Custom Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Custom Workflow Configuration": {
      "main": [
        [
          {
            "node": "Get Active Tickers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Determine Time-Based Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call /api/emma-n8n (Briefing)": {
      "main": [
        [
          {
            "node": "Parse API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "03lgcA4e9uRTtli1"
  },
  "staticData": {
    "node:Schedule Trigger (7h/12h/16h30 EST)": {
      "recurrenceRules": []
    },
    "node:Gmail Trigger (Custom Prompt)": {
      "Gmail Trigger (Custom Prompt)": {
        "lastTimeChecked": 1762532537,
        "possibleDuplicates": [
          "19a5f2038b731938"
        ]
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "93c08e11-d5f9-4bfe-a9fb-6ec3682e8e36",
  "versionCounter": 67,
  "triggerCount": 4,
  "shared": [
    {
      "updatedAt": "2025-10-20T18:16:03.747Z",
      "createdAt": "2025-10-20T18:16:03.747Z",
      "role": "workflow:owner",
      "workflowId": "03lgcA4e9uRTtli1",
      "projectId": "qfcAzmlYYK6RvGCQ",
      "project": {
        "updatedAt": "2025-09-24T01:26:58.771Z",
        "createdAt": "2025-09-24T01:26:55.321Z",
        "id": "qfcAzmlYYK6RvGCQ",
        "name": "Projets JSL <projetsjsl@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-09-24T01:26:55.322Z",
            "createdAt": "2025-09-24T01:26:55.322Z",
            "userId": "cf0c4ec1-d247-4b12-bc83-04a5c23649fb",
            "projectId": "qfcAzmlYYK6RvGCQ",
            "user": {
              "updatedAt": "2025-11-08T16:33:34.000Z",
              "createdAt": "2025-09-24T01:26:53.819Z",
              "id": "cf0c4ec1-d247-4b12-bc83-04a5c23649fb",
              "email": "projetsjsl@gmail.com",
              "firstName": "Projets",
              "lastName": "JSL",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "userClaimedAiCredits": true,
                "firstSuccessfulWorkflowId": "03lgcA4e9uRTtli1",
                "userActivatedAt": 1760990286412,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1762023542884
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-08",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}