SACADOS_Briefing_FULL/n8n_workflow_noon.json
{
  "name": "SACADOS — Noon Market Briefing",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 12 * * 1-5"
            }
          ]
        },
        "timezone": "America/Toronto"
      },
      "id": "43fb20f2-7e39-435a-aa1f-15fea30560e3",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "brief_type",
              "value": "noon"
            },
            {
              "name": "subject_prefix",
              "value": "SACADOS — Noon Market Briefing"
            }
          ]
        }
      },
      "id": "fa74d7a3-25f9-406f-b21a-caa984f8d107",
      "name": "Set Meta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.PPLX_ENDPOINT}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "jsonParameters": true,
        "sendBody": true,
        "headerParametersJson": "{\"Content-Type\":\"application/json\",\"Authorization\":\"Bearer {{$env.PPLX_API_KEY}}\"}",
        "bodyParametersJson": "{\n  \"model\": \"pplx-70b-online\",\n  \"temperature\": 0.2,\n  \"top_p\": 0.9,\n  \"messages\": [\n    {\"role\":\"user\",\"content\":\"Tu es un agent de collecte de donn\\u00e9es de march\\u00e9s. Objectif: produire un JSON pour un \\u00ab Noon Market Briefing \\u2013 Global (Canada / \\u00c9tats\\u2011Unis) \\u00bb en FR\\u2011CA.\\nR\\u00e9ponds UNIQUEMENT en JSON conforme au mod\\u00e8le SACADOS (m\\u00eames champs), aucune valeur invent\\u00e9e.\\nInclure: courbes de taux US (1m,3m,6m,1y,2y,5y,7y,10y,20y,30y) et Canada (1y,2y,5y,10y,30y) + spreads 2y\\u201310y (sources+URLs);\\nforex majeures vs USD & vs CAD (+var 24h, sources+URLs BoC/Investing.com);\\nVIX, MOVE (+var 5j); indices (SPX, NDX, TSX, SXXP) pr\\u00e9\\u2011open/live; secteurs US+CA; movers SPX/TSX (top, raison, URL);\\nmacro_calendar (aujourd\\u2019hui/demain, heure ET, URLs); earnings_calendar (7j) tickers majeurs; ticker_news (\\u22643/ticker, URLs);\\ncommodities (WTI, or, cuivre); sentiment (label+1 phrase);\\nbeta_perspective (analyse/recommandations/sc\\u00e9narios/risques/indicateurs/confidence) si sources solides, sinon listes vides.\\nRenseigne meta.brief_type=\\\"noon\\\", meta.as_of_utc (ISO), meta.as_of_tz=\\\"America/Toronto\\\" et liste des sources globales.\"}\n  ]\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "f580283e-e9e2-495b-ae10-58565b549afc",
      "name": "Perplexity → JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.OPENAI_ENDPOINT}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "jsonParameters": true,
        "sendBody": true,
        "headerParametersJson": "{\"Content-Type\":\"application/json\",\"Authorization\":\"Bearer {{$env.OPENAI_API_KEY}}\"}",
        "bodyParametersJson": "{\n  \"model\": \"gpt-5\",\n  \"temperature\": 0.2,\n  \"messages\": [\n    {\"role\":\"system\",\"content\":\"Tu es un analyste macro-financier (niveau CFA). Tu \\u00e9cris des briefings FR\\u2011CA professionnels.\"},\n    {\"role\":\"user\",\"content\":\"R\\u00e9dige le \\u00ab Noon Market Briefing \\u2013 Global (Canada / \\u00c9tats\\u2011Unis) \\u00bb en utilisant uniquement le JSON ci\\u2011dessous.\\nInclure, si dispo: \\ud83d\\udcc9 Taux (US/CA+spreads), \\ud83d\\udcb1 Devises, \\ud83d\\udcca Volatilit\\u00e9 & sentiment, \\ud83c\\udfed Secteurs, \\ud83d\\udcc8 Movers, \\ud83d\\uddd3\\ufe0f Agenda, \\ud83d\\udcbc R\\u00e9sultats, \\ud83d\\udcf0 Nouvelles, \\ud83e\\udded Perspective B\\u00eata (analyse, critiques, recommandations, sc\\u00e9narios, indicateurs, confiance).\\nCite les sources avec URLs. Ic\\u00f4nes sobres. Affiche meta.as_of_utc. Ne pas afficher les sections vides. Format Markdown propre.\"},\n    {\"role\":\"user\",\"content\":\"Voici le JSON des données :\"},\n    {\"role\":\"user\",\"content\":\"{{$json}}\"}\n  ]\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "949b310c-2db8-4fe7-9856-c57b52ce1e3e",
      "name": "GPT‑5 → Markdown",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1140,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const md = $json.choices?.[0]?.message?.content || '';\nconst html = `<!doctype html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/></head><body><div style=\"font-family:system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;line-height:1.55\">${md.replace(/\\n/g,'<br/>')}</div></body></html>`;\nreturn [{ html, subject_prefix: $json.subject_prefix || 'SACADOS — Market Briefing' }];"
      },
      "id": "64561f0d-1632-4f87-b669-e0ab72b723d3",
      "name": "Render HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "jsonParameters": true,
        "sendBody": true,
        "headerParametersJson": "{\"Content-Type\":\"application/json\",\"Authorization\":\"Bearer {{$env.RESEND_API_KEY}}\"}",
        "bodyParametersJson": "{\n  \"from\": \"SACADOS Briefings <{{$env.RESEND_FROM}}>\",\n  \"to\": [\"{{$env.RESEND_TO}}\"],\n  \"subject\": \"={{$json.subject_prefix}}\",\n  \"html\": \"={{$json.html}}\"\n}"
      },
      "id": "fa073c69-bd66-44c8-b2f8-37ddf71db4ea",
      "name": "Resend → Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1740,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/briefings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "jsonParameters": true,
        "sendBody": true,
        "headerParametersJson": "{\"Content-Type\":\"application/json\",\"apikey\":\"{{$env.SUPABASE_SERVICE_ROLE_KEY}}\",\"Authorization\":\"Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}\"}",
        "bodyParametersJson": "{\n  \"type\": \"noon\",\n  \"json\": \"={{$json}}\",\n  \"html\": \"={{$json.html}}\",\n  \"sent_at\": \"={{new Date().toISOString()}}\"\n}"
      },
      "id": "e1d1217c-034b-4895-9614-ca84982974a5",
      "name": "Supabase → Archive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2040,
        300
      ]
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Set Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Meta": {
      "main": [
        [
          {
            "node": "Perplexity → JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity → JSON": {
      "main": [
        [
          {
            "node": "GPT‑5 → Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT‑5 → Markdown": {
      "main": [
        [
          {
            "node": "Render HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render HTML": {
      "main": [
        [
          {
            "node": "Resend → Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase → Archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {},
  "staticData": null
}